<?xml version="1.0" ?> 
<robot name="gyrosse" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:property name="package_name" value="gyrosse_description"/>

<xacro:include filename="$(find ${package_name})/urdf/include/gazebo_macros.xacro" />

<xacro:gazebo_default name="base_link"
            color="Gazebo/Silver"/>

<xacro:gazebo_default name="motor_wheel_right" 
            color="Gazebo/Black"/>
<xacro:gazebo_default name="motor_wheel_left" 
            color="Gazebo/Black"/>

<xacro:gazebo_default name="motor_flywheel_right"
            color="Gazebo/Black"/>
<xacro:gazebo_default name="motor_flywheel_left" 
            color="Gazebo/Black"/>

<xacro:gazebo_default name="flywheel_right"
            color="Gazebo/Orange"/>
<xacro:gazebo_default name="flywheel_left"
            color="Gazebo/Orange"/>
            
<xacro:gazebo_default name="wheel_right"
            color="Gazebo/Grey"/>
<xacro:gazebo_default name="wheel_left"
            color="Gazebo/Grey"/>

</robot>
