<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="ros2_control" params="name prefix ifname">
      <ros2_control name="${name}_wheel_ros2_control" type="system">
        <hardware>
            <plugin>myactuator_hardware_interface/MyActuatorHardwareInterface</plugin>
            <param name="ifname">${ifname}</param>
            <param name="timeout">1000</param>
            <param name="max_speed">5000</param>
        </hardware>

        <joint name="${prefix}left_wheel_joint">
              <param name="can_id">1</param>
              <param name="reducer_ratio">6.2</param>
              <param name="speed_constant">30</param>
              <param name="torque_constant">0.29</param>
              <param name="rotor_inertia">3400</param>
              <param name="position_acceleration">20000</param>
              <param name="position_deceleration">20000</param>
              <param name="velocity_acceleration">20000</param>
              <param name="velocity_deceleration">20000</param>
              <param name="kp_current">100</param>
              <param name="ki_current">100</param>
              <param name="kp_speed">100</param>
              <param name="ki_speed">50</param>
              <param name="kp_position">100</param>
              <param name="ki_position">0</param>
        </joint>

        <joint name="${prefix}right_wheel_joint">
              <param name="can_id">2</param>
              <param name="reducer_ratio">6.2</param>
              <param name="speed_constant">30</param>
              <param name="torque_constant">0.29</param>
              <param name="rotor_inertia">3400</param>
              <param name="position_acceleration">20000</param>
              <param name="position_deceleration">20000</param>
              <param name="velocity_acceleration">20000</param>
              <param name="velocity_deceleration">20000</param>
              <param name="kp_current">100</param>
              <param name="ki_current">100</param>
              <param name="kp_speed">100</param>
              <param name="ki_speed">50</param>
              <param name="kp_position">100</param>
              <param name="ki_position">0.0</param>
        </joint>

        <joint name="${prefix}left_flywheel_joint">
              <param name="can_id">3</param>
              <param name="timeout">1000</param>
              <param name="reducer_ratio">9</param>
              <param name="speed_constant">30</param>
              <param name="torque_constant">0.29</param>
              <param name="rotor_inertia">3400</param>
              <param name="position_acceleration">20000</param>
              <param name="position_deceleration">20000</param>
              <param name="velocity_acceleration">20000</param>
              <param name="velocity_deceleration">20000</param>
              <param name="kp_current">50</param>
              <param name="ki_current">50</param>
              <param name="kp_speed">100</param>
              <param name="ki_speed">5</param>
              <param name="kp_position">100</param>
              <param name="ki_position">0</param>
        </joint>

        <joint name="${prefix}right_flywheel_joint">
              <param name="can_id">4</param>
              <param name="timeout">1000</param>
              <param name="reducer_ratio">9</param>
              <param name="speed_constant">30</param>
              <param name="torque_constant">0.29</param>
              <param name="rotor_inertia">3400</param>
              <param name="position_acceleration">20000</param>
              <param name="position_deceleration">20000</param>
              <param name="velocity_acceleration">20000</param>
              <param name="velocity_deceleration">20000</param>
              <param name="kp_current">50</param>
              <param name="ki_current">50</param>
              <param name="kp_speed">100</param>
              <param name="ki_speed">5</param>
              <param name="kp_position">100</param>
              <param name="ki_position">0</param>
        </joint>

      </ros2_control>

      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>$(find gyrosse_bringup)/config/gyrosse_controller.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>
</robot>
