<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="gyrosse_robot" params="
    ifname_can:=can0
    use_fake_hardware:=false
    fake_sensor_commands:=false
    ">

    <!-- Import Rviz colors -->
    <xacro:include filename="$(find gyrosse_description)/urdf/include/materials.xacro" />

    <!-- Gyrosse-->
    <xacro:include filename="$(find gyrosse_description)/urdf/gyrosse_joints_links.xacro" />

    <!-- ros2 control include -->
    <xacro:include filename="$(find gyrosse_description)/urdf/ros2_control.xacro"/>
    <xacro:ros2_control ifname_can="${ifname_can}" 
    use_fake_hardware="${use_fake_hardware}" 
    fake_sensor_commands="${fake_sensor_commands}"
    />
    
  </xacro:macro>
</robot>